<div class="row row-cols-1 row-cols-md-2 g-4">
    {{#each sampleResult}}
    <div class="col">
        <div class="card shadow">
            <h1 class="card-title text-center"> <img class="img-fluid" src = "/public/group-images/{{this.groupImage}}"  alt = {{platform}} width = "200" height = "200"></h1>

            <div class="card-body">
                <h2 class="card-title blockquote">{{ groupName }}</h2>
                <div class="card-text">
                    <p class="platform">{{ platform }}</p>
                    <p class="payment">${{ monthlyPayment }} permonth / ${{ yearlyPayment }} per year</p>
                    <p class="members">{{ totalMembers }}/{{ groupLimit }} Group Members</p>
                </div>
                {{#if notRequested }}
                <div class="text-end">
                    <button class="btn btn-primary req-btn" data-id="{{groupId}}">Request to Join
                </div>

                {{/if}}
                {{#if requested }}
                <div class="text-end custom-align">
                    <em>Request Sent!</em>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>