
<section>
    <div id = "error" class = "error"></div>
    <br>
    <br>
    
    <div class="container d-flex justify-content-end">
      <form action="/navigation/chat/{{group._id}}" method="get">
        <button type="submit" class="btn btn-outline-info">Open Chat</button>
      </form>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateGroupModal">
        Update Group
      </button>
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#reportModalCenter">
        Report List
      </button>
      
    </div>
    {{!-- <h5>Userid {{user._id}}</h5> --}}
    {{!-- <h2>Group Id {{groupData._id}}</h2>
    <h2>Group Name {{groupData.groupName}}</h2> --}}
    <br>
    <br>
    <div class="card shadow mb-5 bg-white mx-auto" style="width: 80rem; height:35rem; width:100rem">
      <h2 class="card-header text-center">Group Details</h2>
      <div class="row">
        <div class="col-md-4">
          <img class="card-img-top img-circle" style="padding: 40px;" src="/public/group-images/{{group.groupImage}}" onerror="this.onerror=null;this.src='https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg';" alt="">
        </div>
        <div class="card-body col-md-6">
          <br>
          <br>
            <h2 class="card-title">Group Name: {{group.groupName}}</h2>
            <h4 class="card-title" id="loginidcopy">Login ID: {{group.platform.platformLoginId}}</h4>
            <h4 class="card-title">Password: {{group.platform.platformPassword}}</h4>
            <h5 class="card-title d-flex justify-content-left" style="font-size: medium;color:red;">Monthly Payment for the group : ${{group.payment.montlyPaymentForGroup}}</h5>
            <h5 class="card-title d-flex justify-content-left" style="font-size: medium;">Payment Span : {{group.payment.paymentPlanSpanInMonths}} months</h5>
            {{#each group.hashtags}}
            <span class="badge badge-pill badge-dark">{{this}}</span>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="container">
      <h3 class="text-left">Group members</h3>
      <br>
      <div class="card-deck">
          {{#each user}}
              <div class="col-4 " style="padding-bottom: 50px;">
                      <div class="card Larger shadow" >
                          <img style="width: 100%;" class="card-img-top mx-auto" src=".{{this.profileImgUrl}}" onerror="this.onerror=null;this.src='https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg';" alt="Card Image cap">
                          
                          <div class="card-body">
                              <h5 class="card-title d-flex justify-content-center">{{this.firstName}} {{this.lastName}}</h5>
                              <h6 class="card-subtitle d-flex justify-content-center" style="font-weight: lighter; color: lightcoral">{{this.email}}</h6>
                              {{!-- <h5 class="card-title d-flex justify-content-left" style="font-size: medium;">${{this.payment}} </h5> --}}
                              <p class="card-subtitle text-muted d-flex justify-content-center" style="font-size: medium;"> {{this.address.streetAddress}} {{this.address.city}} {{this.address.state}}</p>
                              <p class="card-text d-flex justify-content-center">{{this.userDescription}}</p>
                          </div>
                          <div class="card-footer text-muted">
                            <div class="row">
                              <form method="POST" action="/navigation/reportUser" id="reportUserForm">
                                <input type="hidden" name="groupid"  value="{{../group._id}}">
                                <input type="hidden" name="reporteduserid"  value="{{this._id}}">
                                <input type="hidden" name="userid" value="{{../currUserId}}">
                                <button type="submit" class="btn btn-outline-danger">Report</button>
                              </form>
                              {{#if ../checkGroupLeader}}
                                <form method="POST" action="/navigation/removeUserFromGroup" id="removeUserFromGroupForm">
                                  <input type="hidden" name="groupid"  value="{{../group._id}}">
                                  <input type="hidden" name="userid" value="{{this._id}}">
                                  <button type="submit" class="btn btn-outline-danger">Remove</button>
                                </form>
                              {{/if}}
                            </div>
                          </div>
                      </div>
                  </div>                
          {{/each}}
    </div>    
    </div>
    {{!-- request to join --}}
    <div class="container">
      <h3 class="text-left">Request to Join</h3>
      <br>
      <div class="card-deck">
          {{#each requestToJoin}}
              <div class="col-4" style="padding-bottom: 50px;">
                      <div class="card Larger shadow" style="border-radius: 40px;">
                          <img style="width: 100%;" class="card-img-top mx-auto" src=".{{this.profileImgUrl}}" onerror="this.onerror=null;this.src='https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg';" alt="Card Image cap">
                          <div class="card-body">
                              <h5 class="card-title d-flex justify-content-center">{{this.firstName}} {{this.lastName}}</h5>
                              <h6 class="card-subtitle d-flex justify-content-center" style="font-weight: lighter; color: lightcoral">{{this.email}}</h6>
                              <p class="card-subtitle text-muted d-flex justify-content-center" style="font-size: medium;"> {{this.address.streetAddress}} {{this.address.city}} {{this.address.state}}</p>
                              <p class="card-text d-flex justify-content-center">{{this.userDescription}}</p>

                              <div class="row">
                                <div class="col" style="padding-left:30px ;">
                                   <form action="/navigation/addusertogroup" method="post">
                                      <input type="hidden" name="userid"  value="{{this._id}}"/>
                                      <input type="hidden" name="groupid"  value="{{../group._id}}"/>
                                      <button type="submit" class="btn btn-primary" >Accept</button>
                                  </form>
                                </div>
                                <div class="col">
                                  <form action="/navigation/rejectUserToJoinGroup" method="post">
                                      <input type="hidden" name="userid"  value="{{this._id}}"/>
                                      <input type="hidden" name="groupid"  value="{{../group._id}}"/>
                                      <button type="submit" class="btn btn-danger">Reject</button>
                                  </form>
                                </div>                             
                              </div>
                              
                          </div>
                      </div>
                  </div>
          {{/each}}

      {{!-- PAYMENT ACTIVITY --}}
      <div class="container">
      <h3 class="text-left">Payment Activity</h3>
      <br>
      <div class="card-deck">
          {{#each user}}
            <div class="col-3" style="padding-bottom: 50px;">
              <div class="card Larger shadow">
                <img style="width: 100%;" class="card-img-top mx-auto" src=".{{this.profileImgUrl}}" onerror="this.onerror=null;this.src='https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg';" alt="Card Image cap">
                <div class="card-body">
                  <h5 class="card-title d-flex justify-content-center">Pay for next month</h5>
                  <h6 class="card-subtitle d-flex justify-content-center" style="font-weight: lighter; color: lightcoral">{{this.email}}</h6>
                  <p class="card-subtitle text-muted d-flex justify-content-center" style="font-size: medium;"> {{this.address.streetAddress}} {{this.address.city}} {{this.address.state}}</p>
                  <p class="card-text d-flex justify-content-center">{{this.userDescription}}</p> 
                  {{#ifEqual this.paid "Paid"}}
                    <p class="card-title d-flex justify-content-center bg-success text-white">PAID</p>
                    {{log "working"}}
                    {{else}}
                    <p class="card-title d-flex justify-content-center bg-danger text-white">UNPAID</p>
                    {{#ifEqual this._id ../currUserId}}
                  <form action="/navigation/checkout-page" method="get"> 
                  <button type="submit" id="pay" class="btn card-title d-flex justify-content-center btn-outline-danger">Check-out</button>
                  </form>  
                  {{/ifEqual}}
                  {{/ifEqual}}  
                </div>
              </div>
            </div>
        {{/each}}
        {{log "that"}}
        {{log currUserId}}
      </div>  
    </div>
    </div>    
    </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src='../public/js/group-details.js'></script>
  <link rel="stylesheet" href="/public/css/group-details.css"> 

  <script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })
  </script>
    {{!-- Payment below --}}

  
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="updateGroupModal" tabindex="-1" aria-labelledby="updateGroupModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- Form Start --}}
          <form method="POST" action="/navigation/updategroup" id="updateGroupForm">
          <input type="hidden" name="groupid"  value="{{group._id}}">
          <div class="form-row">
              {{!-- groupName --}}
              <div class="form-group col-md-12">
                  <label for="group-name">Group Name</label>
                  <input type="text" class="form-control" id="group-name" name="groupName" placeholder="Group Name" value="{{group.groupName}}">
              </div>
          </div>    
          <div class="form-row">
              {{!-- category --}}
              <div class="dropdown form-group d-flex flex-column">
                  <label for="category">Category</label>
                      <select style="width: 553px;" class="text-left btn btn-light dropdown-toggle" id="category" name="category"
                          data-toggle="dropdown">
                          <option value="{{group.category}}"> {{group.category}} </option>
                          <option value="OTT">OTT</option>
                          <option value="Music Streaming">Music Streaming</option>
                          <option value="Network Service Provider">Network Service Provider</option>
                          <option value="Education">Education</option>
                          <option value="E-Commerce">E-Commerce</option>
                <option value="Other">Other</option>
                      </select>
              </div>
              {{!-- Platform --}}
              <div class="form-group col-md-6">
              <label for="platform-name">Platform</label>
              <input type="text" class="form-control" id="platform-name" name="platformName" placeholder="Platform Name" value="{{group.platform.platformName}}">
              </div>
          </div> 
          <div class="form-row">   
              {{!-- email --}}
              <div class="form-group col-md-6">
              <label for="platform-email">Platform Email</label>
              <input type="email" class="form-control" id="platform-email" name="platformEmail" placeholder="Platform Login Email" value="{{group.platform.platformLoginId}}">
              </div>
              {{!-- password --}}
              <div class="form-group col-md-6">
              <label for="platform-password">Platform Password</label>
              <input type="text" class="form-control" id="platform-password" name="platformPassword" placeholder="Platform Login Password" value="{{group.platform.platformPassword}}">
              </div>
          </div>     
          <div class="form-row"> 
              {{!-- groupLimit --}}
              <div class="form-group col-md-6">
              <label for="group-limit">Group Limit</label>
              <input type= "number" class="form-control" id="group-limit" name="groupLimit" placeholder="Group Limit" value="{{group.groupLimit}}">
              </div>
              {{!-- Hash Tags --}}
              <div class="form-group col-md-6">
              <label for="platform-name">Add Hash Tags</label>
                  <input type="text" class="form-control" id="hashtags" name="hashtags" placeholder="Add # before every tag" value="{{#each group.hashtags}}#{{this}}{{/each}}">
              </div>
          </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-toggle="tooltip" title="Update Group">Update Group</button>
      </div>
      </form>
    </div>
  </div>
  </div>
</div>
{{!-- Reports  Modal--}}
<div class="modal fade" id="reportModalCenter" tabindex="-1" role="dialog" aria-label="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLongTitle">Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{#unless group.reports}}
            <h3>No Reports yet</h3>
          {{/unless}}
          {{#each group.reports}}
            <div class="card">
              <div class="card-body">
                <p class="card-text">{{this.message}} {{this.time}}</p>
              </div>
            </div>
          {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src='../public/js/editGroup.js'></script>
</section>