<section>
  <main>
    <h3>Group Details</h3>
    {{!-- <h5>Userid {{user._id}}</h5> --}}
    {{!-- <h2>Group Id {{groupData._id}}</h2>
    <h2>Group Name {{groupData.groupName}}</h2> --}}
    <div class="card shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 55rem; ">
      <div class="row">
        <div class="col-md-4">
          <img class="card-img-top img-circle" style="padding: 40px ;" src="/public/netflix.png" alt="">
        </div>
        <div class="card-body col-md-6">
          <br>
          <br>
            <h4 class="card-title">Login ID: {{group.platform.platformLoginId}}</h4>
            <h4 class="card-title">Password: {{group.platform.platformPassword}}</h4>
        </div>
      </div>
    </div>
    {{!-- DroupName Display --}}
    <div class="d-flex justify-content-center">
      <h4 class="mx-auto" style="color: rgb(44, 42, 42);">Group Name: {{group.groupName}}</h4>
    </div>
    <br>
    <br>
    {{!-- User details cards --}}

    <div class="container">
      <h5 class="mx-auto">Users</h5>
      <div class="card-deck">
          {{#each user}}
              <div class="col-6   " style="padding-bottom: 50px;">
                      <div class="card Larger shadow">
                          <img style="border-radius: 50% ; padding: 30px 80px 20px 80px ; width: 20rem;" class="card-img-top mx-auto" src="/public/netflix.png" onerror="this.onerror=null;this.src='https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg';" alt="Card Image cap"/>
                          <div class="card-body">
                              <h5 class="card-title d-flex justify-content-left">{{this.firstName}} {{this.lastName}}</h5>
                              <h6 class="card-subtitle d-flex justify-content-left" style="font-weight: lighter; color: lightcoral">{{this.email}}</h6>
                              <h5 class="card-title d-flex justify-content-left" style="font-size: medium;">${{this.salaryMin}} - ${{this.salaryMax}} </h5>
                              <p class="card-subtitle text-muted d-flex justify-content-left" style="font-size: medium;"> {{this.address.streetAddress}} {{this.address.city}} {{this.address.state}}</p>
                              <p class="card-text d-flex justify-content-left">{{this.userDescription}}</p>
                              {{#each this.skills}}
                                  <span class="badge badge-pill badge-info" style="font-size: small;" >{{this}}</span>
                              {{/each}}
                              {{!-- Can be used for remove from group functionality --}}
                              {{!-- <form action="/profile/deleteJob" method="post">
                                  <input type="hidden" name="jobid"  value="{{this._id}}"/>
                                  <input type="hidden" name="companyid"  value="{{../company._id}}"/>
                                  
                              </form> --}}
                          </div>
                      </div>
                  </div>
          {{/each}}
      </div>    
  </div>

    
    {{!-- User details cards --}}
    <div class="row .row-cols-3 row-cols-md-2 g-4">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px; height: 80%;">
            <div class="row g-3">
              <div class="col-md-4">
                <img src="/public/netflix.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5> 
                  {{!-- <h6>{{}}</h6> --}}
                  <p class="card-text">{{user.userDescription}}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p></div>
              </div>
            </div>  
          </div>  
        </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px; height: 80%;">
          <div class="row g-3">
            <div class="col-md-4">
              <img src="/public/netflix.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5> 
                <p class="card-text">{{user.userDescription}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p></div>
              </div>
            </div> 
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px; height: 80%; ">
          <div class="row g-3">
            <div class="col-md-4">
              <img src="/public/netflix.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5> 
                <p class="card-text">{{user.userDescription}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p></div>
              </div>
            </div> 
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px; height: 80%; ">
          <div class="row g-3">
            <div class="col-md-4">
              <img src="/public/netflix.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5> 
                <p class="card-text">{{user.userDescription}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p></div>
              </div>
            </div> 
        </div>
      </div>
    </div>  
  </main>
</section>





<<<<<<< Updated upstream
         
=======
         
>>>>>>> Stashed changes
